<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head') %>
  <body class="is-preload">
  <%- include('layout/header') %>
  <div id="main">

    <!-- About Me -->
    <section id="about" class="three">
      <div class="container">

        <header>
          <h2>About Me</h2>
        </header>

        <p>I love mobile games, which is obvious by the theme of the site. I also love coding, sinking myself into the code and solving any bugs I encounter is very fulfilling. I have a bachelor of arts in Computer Science and I am looking to further myself in the field of software development.</p>

      </div>
    </section>
</body>
</html>