<!DOCTYPE html>
<html lang="en">
  <%- include('layout/head') %>
  <body class="is-preload">
  <%- include('layout/header') %>
  <div id="main">

    <!-- Intro -->
      <section id="top" class="one dark cover">
        <div class="container">

          <header>
            <h2 class="alt">Hi! I'm <strong>Bryan</strong>, a Software Developer.</h2>
            <p>Aurum es Potentas, Gold is power (In other words, squash your problems with money)</p>
          </header>

          <footer>
            <a href="portfolio" class="button scrolly">Look at my favorite guns in GFL</a>
          </footer>

        </div>
      </section>
</body>
</html>